@import url('https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
section#head {
  height: 200px;
  width:100%;
  margin: auto;
  padding: 0;
}
section#head #planet {
  width: 20%;
  margin-top: 20px;
  margin-left: 60px;
  float: left;
}
section#head #planet img {
  width: 280px;
  margin-left: 90px;
}
section#head #title p {
  width: 60%;
  height: 200px;
  font-family: 'Fredoka One', cursive;
  color: pink;
  font-size: 3vmax;
  padding-top: 100px;
  margin-left: 100px;
  float: left;
}
section#main {
  width: 80%;
  height: auto;
  background-color: #ffffff;
  float: right;
  padding-left: 15px;
  border-radius: 30px;
  margin-left: 300px;
}
section#main h3 {
  width: 1300px;
  font-family: 'Fredoka One', cursive;
  font-size: 2vmax;
  margin-left: 40px;
  margin-top: 30px;
  border-bottom: solid 2px #cecece;
  color: #a04f64;
}
section#main h2 {
  width: 1400px;
  font-family: 'Fredoka One', cursive;
  font-size: 30px;
  margin-left: 90px;
  margin-top: 30px;
  color: gray;
}
#message {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
section#main #message form {
  margin: 0 auto;
  color: #5f5f5f;
  font-size: 1vmax;
}
input[type=text], select, textarea {
  width: 800px;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
section#main #buttons {
  width: 500px;
  margin: 0 auto;
}
.button {
  font-family: 'Jua', sans-serif;
  width: 100%;
  height: 67px;
  display: inline-block;
  font-size: 1.5em;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #1a1e28;
  background-color: #ffc4ca;
  border: none;
  border-radius: 40px;
  box-shadow: 0 5px #ad8085;
  margin-bottom: 50px;
}
.button:hover {
  background-color: #ffb4bc;
  color:#1a1e28;

}
.button:active {
  background-color: #ffb4bc;
  box-shadow: 0 2px 3px #ad8085;
  transform: translateY(3px);
}
